<?xml version="1.0" encoding="utf-8"?>
<Masks>
  <Mask Category="Alpha Numeric" Description="US Social Security Number" MaskString="Alphanumeric(###-##-####)" Example="123-45-6789" />
  <Mask Category="Alpha Numeric" Description="US Zip Code" MaskString="Alphanumeric([#####][#####-####])" Example="12345 or 12345-2222" />
  <Mask Category="Alpha Numeric" Description="US Phone Number" MaskString="Alphanumeric((###)###-####)" Example="(610)555-6344" />
  <Mask Category="Alpha Numeric" Description="PA License Plate" MaskString="Alphanumeric(@>@>@>-####)" Example="HBG-9606" />
  <Mask Category="Date/Time" Description="No Preceding Zeros" MaskString="Date(mm/dd/YYYY)" Example="1/31/2014" />
  <Mask Category="Date/Time" Description="Preceding Zeros" MaskString="Date(MM/DD/YYYY)" Example="01/31/2014" />
  <Mask Category="Date/Time" Description="UK Date" MaskString="Date(DD/MM/YYYY)" Example="31/01/2014" />
  <Mask Category="Date/Time" Description="Hyphen Separator" MaskString="Date(MM-DD-YYYY)" Example="01-31-2014" />
  <Mask Category="Date/Time" Description="Dot Separator" MaskString="Date(MM.DD.YYYY)" Example="01.31.2014" />
  <Mask Category="Date/Time" Description="Credit Card Date" MaskString="Date(MM/YYYY)" Example="01/2014" />
  <Mask Category="Date/Time" Description="Date Time 12h" MaskString="Date(MM/DD/YYYY:12)" Example="01/31/2014 12:00:00 AM" />
  <Mask Category="Date/Time" Description="Date Time 24h" MaskString="Date(MM/DD/YYYY:24)" Example="01/31/2014 00:00:00" />
  <Mask Category="Date/Time" Description="Month Name (Proper Case)" MaskString="Date(LongDate)" Example="January 19, 1975" />
  <Mask Category="Date/Time" Description="Month Name (Lower Case)" MaskString="Date(longdate)" Example="january 19, 1975" />
  <Mask Category="Date/Time" Description="Month Name (Upper Case)" MaskString="Date(LONGDATE)" Example="JANUARY 19, 1975" />
  <Mask Category="Date/Time" Description="Month Name (Proper Case)" MaskString="Date(ShortDate)" Example="Jan 19, 1975" />
  <Mask Category="Date/Time" Description="Month Name (Lower Case)" MaskString="Date(shortdate)" Example="jan 19, 1975" />
  <Mask Category="Date/Time" Description="Month Name (Proper Case)" MaskString="Date(SHORTDATE)" Example="JAN 19, 1975" />
  <Mask Category="Measurements" Description="Feet Formatting" MaskString="Feet(#{*-*},#{*-*})" Example="7'2&quot;" />
  <Mask Category="Measurements" Description="Feet Formatting (Limit)" MaskString="Feet(#{2-7},#{4-9})" Example="5'4&quot;" />
  <Mask Category="Name" Description="Name Formatting" MaskString="Name()" Example="Smith" />
  <Mask Category="Numeric" Description="Currency - Dollar Sign" MaskString="Numeric($[#{*-*}].[##])" Example="$42457.98" />
  <Mask Category="Numeric" Description="Currency - No Decimals" MaskString="Numeric($,[#{*-*}])" Example="$436,493" />
  <Mask Category="Numeric" Description="Currency - Limit Decimals" MaskString="Numeric($,[#{*-*}].[###])" Example="$436,493.988" />
  <Mask Category="Numeric" Description="Currency - Negative Amount" MaskString="Numeric($-[#{*-*}].[##])" Example="($93939.33)" />
  <Mask Category="Numeric" Description="Currency - Commas and Negative" MaskString="Numeric($,-[#{*-*}].[##])" Example="($56,565,039.00)" />
  <Mask Category="Numeric" Description="Currency - Commas for Decimals" MaskString="Numeric(.[#{*-*}],[##])" Example="838.383,99" />
  <Mask Category="Numeric" Description="Currency - Low Limit" MaskString="Numeric($,[#{1000-*}].[##])" Example="$5,000.00" />
  <Mask Category="Numeric" Description="Currency - High Limit" MaskString="Numeric($,[#{*-5000}].[##])" Example="$2,500.00" />
  <Mask Category="Numeric" Description="Currency - Low and High Limit" MaskString="Numeric($,[#{2000-8000}].[##])" Example="$4,000.00" />
  <Mask Category="Numeric" Description="Numeric - No Decimals" MaskString="Numeric([#{*-*}])" Example="436493" />
  <Mask Category="Numeric" Description="Numeric - Limit Decimals" MaskString="Numeric([#{*-*}].[###])" Example="436493.988" />
  <Mask Category="Numeric" Description="Numeric - Negative" MaskString="Numeric(-[#{*-*}].[##])" Example="(93939.33)" />
  <Mask Category="Numeric" Description="Numeric - Commas" MaskString="Numeric(,[#{*-*}].[##])" Example="93,939.33" />
  <Mask Category="Numeric" Description="Numeric - Low Limit" MaskString="Numeric([#{1000-*}].[##])" Example="5000.00" />
  <Mask Category="Numeric" Description="Numeric - High Limit" MaskString="Numeric([#{*-5000}].[##])" Example="2500.00" />
  <Mask Category="Numeric" Description="Numeric - Low and High Limit" MaskString="Numeric([#{2000-8000}].[##])" Example="4000.00" />
  <Mask Category="Numeric" Description="Percent - Low and High Limit" MaskString="Numeric(%[#{0-100}].[###])" Example="55.500%" />
</Masks>