<?xml version="1.0" encoding="utf-8"?>
<BatchChanges>
  <BatchChange Type="Refactoring" Id="e55b0b22-c122-46ea-8c75-182ce05bac4e" OwnerId="3d81ac79-0d3c-4f1a-bb95-cc3f20a6b93c">
    <File RelativePath="Implementation\Process\719c43fe-c20c-421a-ba09-569d966946e9.pmx" ChangeType="Edit" />
    <File RelativePath="Implementation\Process\3d81ac79-0d3c-4f1a-bb95-cc3f20a6b93c.pmx" ChangeType="Edit" />
  </BatchChange>
  <BatchChange Type="Refactoring" Id="774e1a5f-576b-4c7d-b437-0b6073fe836d" OwnerId="e1a00ee7-0638-4fa8-a7e2-efcbdc7e99a5">
    <File RelativePath="Implementation\Process\9f153549-d64b-4e01-a5f1-7dc08a53f512.pmx" ChangeType="Edit" />
    <File RelativePath="Implementation\Process\b01a2e73-aba6-40c4-826b-fb26ceaff591.pmx" ChangeType="Edit" />
    <File RelativePath="Implementation\Process\e1a00ee7-0638-4fa8-a7e2-efcbdc7e99a5.pmx" ChangeType="Edit" />
  </BatchChange>
  <BatchChange Type="Refactoring" Id="b19c1886-2d34-40bb-819c-8c21feffe483" OwnerId="9c55b351-4d04-4393-8b0e-78c26325a236">
    <File RelativePath="Implementation\Process\b14388ec-4b9a-46a4-9829-2f12be73af47.pmx" ChangeType="Edit" />
    <File RelativePath="Implementation\Process\9c55b351-4d04-4393-8b0e-78c26325a236.pmx" ChangeType="Edit" />
  </BatchChange>
  <BatchChange Type="Refactoring" Id="529a8acf-4653-429c-a875-6f3094507044" OwnerId="87b79702-866b-4778-bcc9-067d2aedac13">
    <File RelativePath="Implementation\View\87b79702-866b-4778-bcc9-067d2aedac13.vmx" ChangeType="Edit" />
  </BatchChange>
  <BatchChange Type="Refactoring" Id="e45e095c-d641-46e0-9b1a-3c65834313d2" OwnerId="acfb2c14-12da-4df9-a0fe-ab31a0bddd1c">
    <File RelativePath="Implementation\Process\acfb2c14-12da-4df9-a0fe-ab31a0bddd1c.pmx" ChangeType="Edit" />
  </BatchChange>
  <BatchChange Type="Refactoring" Id="e2467b2e-0a5a-496d-b877-3a3b7b3bbb1a" OwnerId="20f038db-c808-4953-aa9c-a10ea78564d5">
    <File RelativePath="Implementation\Process\20f038db-c808-4953-aa9c-a10ea78564d5.pmx" ChangeType="Edit" />
  </BatchChange>
</BatchChanges>