/*!
 * Graphite GTC Franklin Theme
 * GraphiteGTC.Media.css
 * http://graphitegtc.com/
 * Authors: Azin Asili <azin.asili@graphitegtc.com>
 * Copyright 2017
 */
@charset "UTF-8";
.gtc-fileupload {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  max-width: 100%;
  min-width: 0;
}

.gtc-classInputFileUpload {
  display: none;
}

.gtc-classDivFileUpload {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
  position: relative;
}

.gtc-classDivPreviewMessage {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  left: 0;
  width: 100%;
}

.gtc-classDivPreview {
  -ms-flex-direction: column;
      flex-direction: column;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  position: relative;
  vertical-align: top;
}

.gtc-classDivDetails {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  max-width: 100%;
  min-width: 0;
  position: relative;
}

.gtc-classDivFileName {
  word-break: break-all;
}

.gtc-classImgThumbnail {
  -ms-flex-order: -1;
      order: -1;
}

.gtc-classAnchorRemoveFile {
  display: block;
}

.gtc-classDivSuccess,
.gtc-classDivFileUploadError {
  display: none;
  position: absolute;
  z-index: 1;
}

.gtc-classDivSuccess::before,
.gtc-classDivFileUploadError::before {
  font-family: 'FontAwesome';
}

.gtc-classDivFileUploadErrorMessage {
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.gtc-classDivUploadProgress {
  display: block;
  height: 100%;
  width: 0;
}

.gtc-fileupload {
  border: 1px solid #999999;
  margin-bottom: 1.4286em;
  padding: 1.0714em;
  page-break-inside: avoid;
}

.gtc-classDivFileUpload {
  border: 0.2143em dashed #cccccc;
  margin-bottom: 1.4286em;
  min-height: 10.7143em;
  padding-left: 0.7143em;
  padding-top: 0.7143em;
}

.gtc-classDivFileUpload ~ .gtc-btn,
.gtc-classDivFileUpload ~ .gtc-link {
  display: none;
  margin-right: 0.7143em;
}

.gtc-classDivPreviewMessage {
  color: #d9d9d9;
  font-size: 1.4286em;
  text-align: center;
}

.gtc-classDivPreview {
  border: 1px solid #999999;
  font-size: 0.8571em;
  margin-bottom: 0.7143em;
  margin-right: 0.7143em;
  padding: 0.3571em;
}

.gtc-classDivDetails {
  margin-bottom: 0.3571em;
}

.gtc-classDivFileName {
  margin-bottom: 0.3571em;
  width: 7.1429em;
}

.gtc-classDivFileSize {
  font-size: 0.7143em;
}

.gtc-classImgThumbnail {
  height: 7.1429em;
  margin-bottom: 0.3571em;
  width: 7.1429em;
}

.gtc-classDivProgress {
  border: 1px solid #d9d9d9;
  height: 0.4286em;
}

.gtc-classAnchorRemoveFile {
  border: inherit;
  margin-top: 0.3571em;
  padding: inherit;
  text-align: center;
  z-index: 1;
}

.gtc-classDivSuccess,
.gtc-classDivFileUploadError {
  right: -0.7143em;
  top: -0.7143em;
}

.gtc-classDivSuccess::before,
.gtc-classDivFileUploadError::before {
  font-size: 2.5em;
}

.gtc-classDivSuccess::before {
  color: #89d085;
  content: "";
}

.gtc-classDivFileUploadError::before {
  color: #fa5757;
  content: "";
}

.gtc-classDivFileUploadErrorMessage {
  padding: inherit;
}

.gtc-classDivUploadProgress {
  border: 1px solid #d9d9d9;
}

.gtc-filedownload {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  max-width: 100%;
  min-width: 0;
}

.gtc-filedownload .gtc-scrolltarget {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gtc-filedownload-file {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
}

.gtc-filedownload-link {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.gtc-filedownload {
  border: 1px solid #999999;
  margin-bottom: 1.4286em;
  padding: 1.0714em 1.0714em 0.3571em;
  page-break-inside: avoid;
}

.gtc-filedownload > .gtc-btn,
.gtc-filedownload > .gtc-link {
  background-color: transparent;
  padding: 0;
}

.gtc-filedownload .gtc-scrolltarget {
  margin-bottom: 1.4286em;
}

.gtc-filedownload-file {
  padding-right: 1.0714em;
  width: 50%;
}

.gtc-filedownload-file > .gtc-input-checkbox {
  margin: 0;
}

.gtc-filedownload-link {
  color: black;
  line-height: 1.2;
  margin-left: 0.3571em;
  padding-bottom: 0.3571em;
  padding-top: 0.3571em;
}

.gtc-filedownload-link > .gtc-icon-styles {
  margin-right: 0.2143em;
}

.gtc-video {
  position: relative;
}

.gtc-video > video {
  height: auto;
  max-width: 100%;
}

.gtc-video {
  margin-bottom: 1.4286em;
}

.gtc-video-title {
  margin-bottom: 0.3333em;
}

.gtc-image-slider {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  max-width: 100%;
  min-width: 0;
  height: 100% !important;
  position: relative;
}

.gtc-image-slider::after {
  content: '';
  display: block;
  padding-bottom: 1.7778%;
  width: 100%;
}

.gtc-image-slider > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.gtc-image-slide {
  height: 100%;
  position: static !important;
  width: 100% !important;
}

.gtc-image-slide > .gtc-img-responsive {
  display: block;
  height: 100% !important;
  margin: auto;
}

.gtc-classOlDots {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

.gtc-classLiDot {
  cursor: pointer;
  display: inline-block;
}

.gtc-image-slider {
  border: 1px solid #999999;
  margin-bottom: 1.4286em;
  min-height: 35.7143em;
}

.gtc-classOlDots {
  bottom: 0.7143em;
  text-align: center;
}

.gtc-classLiDot {
  border-radius: 50%;
  height: 0.7143em;
  width: 0.7143em;
  border: 0.1429em solid black;
  margin-left: 0.2857em;
  margin-right: 0.2857em;
}

.gtc-imagegallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  max-width: 100%;
  min-width: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gtc-classSelectedImageFullDisplayOverlay {
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1100;
}

.gtc-classDivSelectedImage {
  -ms-flex-item-align: center;
      align-self: center;
}

.gtc-classDivSelectedImage > img {
  cursor: zoom-in;
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
}

.gtc-classSelectedImageFullDisplay {
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1300;
}

.gtc-classSelectedImageFullDisplay > img {
  cursor: zoom-out;
  display: block;
  height: 100%;
  margin: auto;
}

.gtc-classDivThumbnailSlider {
  position: relative;
}

.gtc-classDivNext,
.gtc-classDivPrevious {
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.gtc-classDivNext > a,
.gtc-classDivPrevious > a {
  overflow: hidden;
  text-indent: -100%;
  white-space: nowrap;
  font-size: 0;
  height: 100%;
  position: absolute;
  width: 100%;
}

.gtc-classDivNext > a > .gtc-icon-styles,
.gtc-classDivPrevious > a > .gtc-icon-styles {
  text-indent: 0;
}

.gtc-classDivPrevious {
  left: 0;
}

.gtc-classDivNext {
  right: 0;
}

.gtc-classDivThumbnailImages > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
}

.gtc-classDivThumbnailImages > ul > li {
  -ms-flex: 1 1 0%;
      flex: 1 1 0%;
  max-width: 100%;
}

.gtc-classDivThumbnailImages > ul > li > img {
  display: block;
  height: auto;
  max-width: 100%;
}

.gtc-classDivPrevious, .gtc-classDivNext {
  width: 3.4286em;
}

.gtc-classDivPrevious .gtc-icon-styles, .gtc-classDivNext .gtc-icon-styles {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-size: 2.1429rem;
}

.gtc-imagegallery {
  border: 1px solid #999999;
  margin-bottom: 1.4286em;
}

.gtc-classDivSelectedImage {
  width: 50%;
}

.gtc-classDivThumbnailSlider {
  width: 50%;
}

.gtc-classDivPrevious {
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  left: 0;
}

.gtc-classDivNext {
  border-left: 1px solid #d9d9d9;
  right: 0;
}

.gtc-classDivThumbnailImages {
  margin-left: 3.4286em;
  margin-right: 3.4286em;
}

.gtc-classDivThumbnailImages > ul > li:not(.gtc-classLiSelectedImageShadow) {
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.gtc-documentscan {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  max-width: 100%;
  min-width: 0;
  border: 1px solid #999999;
  margin-bottom: 1.4286em;
  padding: 1.0714em;
  position: relative;
}

.ds-dwt-container {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  max-width: 100%;
  min-width: 0;
}

.gtc-documentscan-fullscreen {
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
}

.gtc-documentscan-controls {
  -ms-flex: 0 1 17.8571em;
      flex: 0 1 17.8571em;
  max-width: 17.8571em;
  border-right: 1px solid #999999;
  margin-right: 1.0714em;
  padding: 1.0714em;
}

.gtc-documentscan-control-item > .gtc-fieldset {
  margin-bottom: 0.7143em;
}

.gtc-documentscan-control-buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  bottom: 1.0714em;
  margin-left: -0.3571em;
  margin-right: -0.3571em;
  z-index: 1;
}

.gtc-documentscan-control-buttons > .gtc-btn {
  margin: 0 0.3571em 0.7143em;
}

.gtc-documentscan-control-buttons > .gtc-btn:first-child, .gtc-documentscan-control-buttons > .gtc-btn:last-child {
  width: 100%;
}

.gtc-documentscan-control-buttons > .gtc-btn:not(:first-child):not(:last-child) {
  -ms-flex-order: -1;
      order: -1;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  max-width: 100%;
  min-width: 0;
  padding: 2.1429em;
}
